/*Paleta de colores: VerdeMusgo#708c45, amarillo#d9a84e, 
piel#bf7245, rojo#a62121 y bordo#591e1e----*/
/* RESET CSS--------------------------------------------------*/
*{
    margin: 0px;
    padding: 0px;
}
/*GENERAL-----------------------------------------------------*/
html{
    margin: 20px;
    background-color: #434341;
}
.body__index{
    background-color: #434341;
}
/*HEADER------------------------------------------------------*/
.header{
    grid-area: header;
    display: flex;
    flex-wrap: wrap;
    background-color: #591e1e; 
    border-radius: 15px;
    box-shadow: 2px 2px 0px #d9a84e; 
}
.header__logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.header__logo img{
    max-width:7rem; 
    padding: 1rem;
}
.header__titles{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
}
.header__titulo h1{
    font-family: 'Lobster', cursive; 
    color: #a62121; 
    text-shadow: 1px 2px 0px #d9a84e;  
    text-align:center;
    font-size:3.5rem;
}
.header__subtitulo{
    align-self: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
    color: antiquewhite; 
    text-shadow: 2px 3px 0px #2c2c2b;
    padding: 0.5rem;
}
.header__subtitulo h3{
    font-size: 1rem;
}
/*COMIENZO DE LA NAV-------------------------------------------*/
.header__nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}
.header__nav li{
    list-style: none;
    background-color: #a62121;
    box-shadow: 2px 2px 0px #d9a84e; 
    border-radius: 20px; 
    font-family: 'Lobster', cursive;  
    text-shadow: 1px 2px 0px antiquewhite;
    padding: 0.3rem;
}
.header__nav li a,
li a:active{
    text-decoration: none;
    color:#2c2c2b;
    text-shadow: 1px 1px 0px antiquewhite;
}
li a:visited{
    text-decoration: none;
    color:#2c2c2b;
    text-shadow: 1px 1px 0px antiquewhite;
}
li a:hover{
    text-decoration: none;
    color:antiquewhite;
    text-shadow: 1px 2px 0px #2c2c2b;
}
/*FIN DE LA NAV------------------------------------------------*/
/*FIN DEL HEADER-----------------------------------------------*/
/*MAIN---------------------------------------------------------*/
/*INDEX*-------------------------------------------------------*/
.main__img div div img{
    margin-top: 1rem; 
    border-radius: 15px;
}
.main__img__btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main__btn{
    margin-top:0.8rem; 
    background-color: #a62121;
    box-shadow: 2px 2px 0px #d9a84e;
    color:#d9a84e;
    text-shadow: 1px 2px 0px #2c2c2b; 
    padding:0.3rem; 
    border-radius: 15px; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.main__btn:hover{
    transform: scale(1.2);
    transition:all 3s;
}
.main__img__p{
    align-self:center;
    font-family: 'ABeeZee', sans-serif;
    margin-top: 10px;
    padding: 0.6rem;
    border-radius: 15px;
    color:antiquewhite;
    text-shadow: 1px 2px 0px #2c2c2b;
}
/*INTEGRANTES--------------------------------------------------*/
/*BARRA SEPARADORA*/
.container__barra{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main__integrantes__span{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a62121;
    box-shadow: 2px 2px 0px #d9a84e;
    border-radius: 15px;
    color:antiquewhite;
    font-size: medium;
    text-shadow: 1px 2px 0px #2c2c2b;
    padding: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    max-width: 70%;
}
.main__integrantes__span p{
    display: flex;
    align-self: center;
}
.main__integrantes__span img{
    display: flex;
    align-self: flex-start;
    max-width: 1.5rem;
    margin-right: 15px;
}
/*FIN DE LA BARRA SEPARADORA*/
.carousel-item img{
    align-self: center;
    border-radius: 15px;
    max-height: 22rem;
}
.row div p{
    align-self:center;
    margin-left: 5px;
    padding: 0.6rem;
    border-radius: 15px;
    color:antiquewhite;
    text-shadow: 1px 2px 0px #2c2c2b;
}
/*HISTORIA------------------------------------------------------*/
/*DISCOGRAFIA--------------------------------------------------*/
.main__discografia__p{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main__discografia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main__discografia h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lobster', cursive;
    border-radius: 15px;
    color:antiquewhite;
    font-size:2rem;
    text-shadow: 1px 2px 0px #a62121;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    max-width: 70%;
}
/*NOTICIAS-----------------------------------------------------*/
.main__noticias__div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5px;
    margin-top: 15px;
    padding-top: 5px;
    background-color: #a62121;
    border-radius: 15px;
    box-shadow: 1px 2px 0px #d9a84e;
}
.main__noticias__div img{
    margin-top: 10px;
    max-width: 100%;
    max-height: 350px;
    border-radius: 15px;
    box-shadow: 2px 2px 0px #d9a84e;
    margin-bottom: 10px;
}
.main__noticias__div h2{
    text-align: center;
    font-size: 20px;
    color:antiquewhite;
    text-shadow: 1px 1px 0px #2c2c2b;
    margin-bottom: 10px;
}
.main__noticias__div p{
    color:antiquewhite;
    text-shadow: 1px 2px 0px #2c2c2b;
}
.main__noticias__div h2 a,
h2 a:active{
    text-decoration: none;
    color:antiquewhite;
    text-shadow: 1px 2px 0px #2c2c2b;
}
h2 a:visited{
    text-decoration: none;
    color:antiquewhite;
    text-shadow: 1px 2px 0px #2c2c2b;
}
h2 a:hover{
    text-decoration: none;
    color:#2c2c2b;
    text-shadow: 1px 1px 0px antiquewhite;
}
/*FIN DEL MAIN-------------------------------------------------*/
/*FOOTER-------------------------------------------------------*/
.footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}
.footer__redes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.footer__redes img{
    align-self: center;
    max-width: 5rem; 
    padding: 1rem; 
}
.footer__h4{
    align-self: flex-end;
    color:antiquewhite;
    text-shadow: 2px 3px 0px #2c2c2b;
    font-size: 1rem;
}
/*FOOTER NOTICIAS---------------------------------------*/
.footer__div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer__div__newsletter{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: #a62121;
    box-shadow: 2px 2px 0px #d9a84e;
    border-radius: 15px;
    padding: 10px;
}
.footer__div__newsletter p{
    display: flex;
    align-self: center;
    justify-content: center;
    color:antiquewhite;
    text-shadow: 1px 2px 0px #2c2c2b;
    font-size: 25px;
    
}
.footer__div__newsletter p img{
    display: flex;
    align-self: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width:30px; 
    padding: 2px;
    padding-right: 5px;
}
.footer__div__newsletter label{
    color:antiquewhite;
    text-shadow: 1px 2px 0px #2c2c2b;
}
.footer__btn{
    color: antiquewhite;
    background-color: #2c2c2b;
    box-shadow: 1px 1px 0px antiquewhite; 
    padding: 4px; 
    border-radius: 15px; 
    font-family: 'lobster';
}
/*FIN DEL FOOTER---------------------------------------------*/
/*MEDIAS*/
@media (min-width:320px) and (max-width:539px){
    /*GENERALES-------------------------------------*/
    .header{
        display: flex;
        flex-direction: row;
    }
    .header__nav li{
        padding: 0.15rem;
    }
    .header__nav{
        flex-wrap: wrap;
    }
    .header__logo img{
        max-width:4rem; 
    }
    .header__titulo{  
        text-align:center;
        font-size:1.2rem;
    }
    .header__titles{
        display: flex;
        flex-direction: column;
    }
    .header__subtitulo{
        font-size: 0.5rem;
        align-self: center;  
    }