/*GENERAL*/
$color-fondo-general:#434341;
$color-fondo-caja:#a62121;
$color-sombra-caja:2px 2px 0px #d9a84e;
$color-letras-parrafos:antiquewhite;
$color-sombra-parrafos:1px 2px 0px #2c2c2b;
/*HEADER*/
$color-fondo-header:#591e1e;
$color-titulo-header:#a62121;
$color-sombra-titulo: 1px 2px 0px #d9a84e;
$color-subtitulo-header:antiquewhite;
$color-sombra-subtitulo:2px 3px 0px #2c2c2b;
$color-sombra-navegacion: 1px 2px 0px #d9a84e;
/*FOOTER*/
$color-letra-btn:antiquewhite;
$color-fondo-btn:#2c2c2b;
$color-sombra-btn:1px 1px 0px antiquewhite;