/*IMPORTS-----------------------------------------------------*/
@import 'variables';
@import 'header';
@import 'footer';
/* RESET CSS--------------------------------------------------*/
*{
    margin: 0px;
    padding: 0px;
}
/*GENERAL-----------------------------------------------------*/
html{
    margin: 20px;
    background-color:$color-fondo-general;
}
.body__index{
    background-color:$color-fondo-general;
}
/*MAIN---------------------------------------------------------*/
/*INDEX*-------------------------------------------------------*/
.main__img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
        & iframe{
        margin-top: 1rem; 
        border-radius: 15px;
        max-width: 45rem;
        box-shadow:$color-sombra-caja;
        }
        & div div img{
        margin-top: 1rem; 
        border-radius: 15px;
        max-width: 50rem;
        }
        &__btn{
        display: flex;
        align-items: center;
        justify-content: center;
        }
        &__p{
        align-self:center;
        text-align: center;
        font-family: 'ABeeZee', sans-serif;
        margin-top: 10px;
        padding: 0.6rem;
        border-radius: 15px;
        color:$color-letras-parrafos;
        text-shadow:$color-sombra-parrafos;
        }
}
.main__btn{
    margin-top:0.8rem; 
    background-color:$color-fondo-caja;
    box-shadow:$color-sombra-caja;
    color:#d9a84e;
    text-shadow:$color-sombra-parrafos; 
    padding:0.3rem; 
    border-radius: 15px; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        &:hover{
        transform: scale(1.2);
        transition:all 3s;
        }
}
/*INTEGRANTES--------------------------------------------------*/
/*BARRA SEPARADORA*/
.container__barra{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main__integrantes__span{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:$color-fondo-caja;
    box-shadow:$color-sombra-caja;
    border-radius: 15px;
    color:$color-letras-parrafos;
    text-shadow:$color-sombra-parrafos;
    font-size: medium;
    padding: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    max-width: 70%;
        & p{
        display: flex;
        align-self: center;
        }
        & img{
        display: flex;
        align-self: flex-start;
        max-width: 1.5rem;
        margin-right: 15px;
        }
}
/*FIN DE LA BARRA SEPARADORA*/
.carousel-item img{
    align-self: center;
    border-radius: 15px;
    max-height: 22rem;
}
.row div p{
    align-self:center;
    margin-left: 5px;
    padding: 0.6rem;
    border-radius: 15px;
    color:$color-letras-parrafos;
    text-shadow:$color-sombra-parrafos;
}
/*DISCOGRAFIA--------------------------------------------------*/
.main__discografia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        &__p{
        display: flex;
        align-items: center;
        justify-content: center;
        }
        & h2{
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Lobster', cursive;
        border-radius: 15px;
        color:antiquewhite;
        font-size:2rem;
        text-shadow: 1px 2px 0px #a62121;
        padding: 1rem;
        margin-bottom: 1rem;
        margin-top: 0.5rem;
        max-width: 70%;
        }
}
/*NOTICIAS-----------------------------------------------------*/
.main__noticias__div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5px;
    margin-top: 15px;
    padding-top: 5px;
    background-color:$color-fondo-caja;
    box-shadow:$color-sombra-caja;
    border-radius: 15px;
        & img{
        margin-top: 10px;
        max-width: 100%;
        max-height: 350px;
        border-radius: 15px;
        box-shadow:$color-sombra-caja;
        margin-bottom: 10px;
        }
        & h2{
        text-align: center;
        font-size: 20px;
        color:$color-letras-parrafos;
        text-shadow:$color-sombra-parrafos;
        margin-bottom: 10px;
        }
        & p{
        color:$color-letras-parrafos;
        text-shadow:$color-sombra-parrafos;
        }
        & h2 a,
        h2 a:active{
        text-decoration: none;
        color:$color-letras-parrafos;
        text-shadow:$color-sombra-parrafos;
        }
        h2 a:visited{
        text-decoration: none;
        color:$color-letras-parrafos;
        text-shadow:$color-sombra-parrafos;
        }
        h2 a:hover{
        text-decoration: none;
        color:#2c2c2b;
        text-shadow: 1px 1px 0px antiquewhite;
        }
}
/*FIN DEL MAIN-------------------------------------------------*/
/*MEDIAS-------------------------------------------------------*/
@media(min-width:320px)and(max-width:576px){
    /*GENERALES-------------------------------------*/
    .header{
        display: flex;
        flex-direction: row;
        height:auto;
    }

    .header__nav li{
        height: auto;
        padding: 0.15rem;
        margin: 5px;
    }
    .header__nav{
        height: auto;
        flex-wrap: wrap;
        width: 22rem;
    }
    .header__logo img{
        max-width:5rem; 
    }
    .header__titulo h1{  
        text-align:center;
        font-size:2.5rem;
    }
    .header__titles{
        display: flex;
        flex-direction: column;
        height: 8rem;
        align-items: center;
        justify-content: center;
    }
    .header__subtitulo{
        font-size: 0.5rem;
        align-self: center;  
    }
    /*INDEX--------------------------------------------*/
    .main__img iframe{
        margin-top: 1rem; 
        border-radius: 15px;
        max-width: 22rem;
        box-shadow: 2px 2px 0px #d9a84e;
    }
    .main__btn{
        font-size: x-large;
    }
}
/*540px TABLET-----------------------------------------*/
@media(min-width: 577px)and(max-width: 991px){
    /*GENERALES-------------------------------------*/
    .header{
        display: flex;
        flex-direction: row;
    }
    .header__logo img{
        max-width:6rem;
    }
    .header__titulo h1{  
        text-align:center;
        font-size:2rem;
    }
    .header__titles{
        display: flex;
        flex-direction: column;
        height: 7rem;
        align-items: center;
        justify-content: center;
    }
    .header__subtitulo{
        font-size: 0.75rem;
        align-self: center;  
    }
    .footer__redes img{
        max-width: 2rem; 
        padding-top: 2rem;
    }
    .footer__h4{
        align-self: center;
        padding-top: 1rem;
    }
    /*INTEGRANTES--------------------------------------*/
    .integrantes__titulo{
        align-self: center;
        font-size:1.5rem;
    }
    .main__integrantes__flex{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .main__integrantes__flex p{
        align-self: flex-start;
        max-width: 100%;
        margin-top: 0.5rem;
    }
    /*DISCOGRAFIA-------------------------------------*/
    .main__discografia__disco li{
        font-size: 0.8rem;
    }
}
/*FIN DE MEDIA QUERIES----------------------------------*/
